*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg, input {
    display: block;
    max-width: 100%;
}

input, button, textarea, select, label {
    font: inherit;
}

p, h1, h2, h3, h4 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4 {
    text-wrap: balance;
    line-height: 1.2;
}