@import url('reset.css');
@import url('variables.css');

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    text-align: center;
}

h1, h2 {
    font-size: var(--heading-large);
}

h3, h4 {
    font-size: var(--heading-normal);
}

h1 {
    letter-spacing: 0.075rem;
}

h2, h3, h4 {
    letter-spacing: 0.125rem;
}

p, a, form {
    font-family: var(--body-font);
    letter-spacing: .025rem;
}

a {
    color: var(--black);
}

header {
    background-color: var(--light);
    background-size: 10px 1px;
    padding: 25px;
    box-shadow: 0 3px 8px var(--off-black);
    width: 100%;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        flex-wrap: wrap;
    }

    li {
        list-style-type: none;
        padding: 15px;
        text-wrap: nowrap;
    }

    a {
        text-decoration: none;
        font-size: var(--text-large);
    }

    a:hover {
        text-decoration: underline;
    }
}

body {
    background-color: var(--dark);
    background: repeating-linear-gradient(
        45deg,
        var(--medium), var(--medium) 10px,
        var(--dark) 10px, var(--dark) 50px
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main {
    padding: 50px;
    width: 100%;
    max-width: 850px;
    background-color: var(--off-white);
    margin: auto 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    
    label {
        font-size: var(--text-large);
        font-weight: bold;
        letter-spacing: 0.05rem;
    }

    div {
        width: 100%;
    }

    input {
        border-radius: 50px;
        width: 100%;
        padding: 2px 5px;
    }

    button {
        --lt: #FF3C84;
        --dk: #AB003F;

        background-color: var(--dark);
        color: var(--white);
        border: 5px solid var(--lt);
        border-right-color: var(--dk);
        border-bottom-color: var(--dk);
        margin: 15px;
        font-size: var(--text-large);
        padding: 2px 10px;
    }

    button:active {
        border-color: var(--dk) var(--lt) var(--lt) var(--dk);
    }

    .error {
        color: var(--dark);
    }
}

footer {
    width: 100%;
    padding: 15px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    margin-top: auto;
    box-shadow: 0 -3px 8px var(--off-black);
}